.weather {
  min-height: 170px;
}

.banner {
  background-image: url('/assets/images/banner.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  box-shadow: none;
}
