.weather {
  min-height: 170px;
}

.banner {
  background-image: url('/assets/images/banner.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  box-shadow: none;
}

.counters {
  position: sticky;
  top: 0;
  z-index: 10;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+74,ffffff+100&1+74,0+100 */
  background: -moz-linear-gradient(top,  rgba(255,255,255,1) 74%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 74%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(255,255,255,1) 74%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
}

.row .col.valign-wrapper {
  min-height: 100px;
}